annotated-types==0.7.0
backoff==2.2.1
black==25.1.0
cfgv==3.4.0
click==8.2.1
colorama==0.4.6
distlib==0.4.0
filelock==3.19.1
flake8==7.3.0
greenlet==3.2.4
mlfinlab==1.0.0
identify==2.6.13
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
joblib==1.4.2
keyring==25.6.0
loguru==0.7.3
mccabe==0.7.0
MetaTrader5==5.0.5200
more-itertools==10.7.0
mypy==1.17.1
mypy-extensions==1.1.0
nodeenv==1.9.1
numba==0.61.2
numpy==1.26.4
optuna==3.6.1
packaging==25.0
pandas==2.3.2
pandas-ta==0.3.14b0
pathspec==0.12.1
platformdirs==4.4.0
pre-commit==4.3.0
pycodestyle==2.14.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyflakes==3.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
scikit-learn==1.5.1
shap==0.45.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.43
tqdm==4.66.4
types-PyYAML==6.0.12.20250822
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.34.0
win32-setctime==1.2.0
xgboost==2.0.3
